body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

a {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

ul {
    list-style: none;
}

header {
    height: 60px;
    width: 100%;
}

nav {
    display: flex;
    justify-content: flex-end;
}

.nav-right-section {
    align-items: center;
    display: flex;
    height: auto;
    justify-content: center;
    width: 250px;
}

.nav-right-section a {
    margin-right: 10px;
}

.nav-right-section a:hover {
    color: #5f6368;
}

.menu-icon {
    background-image: url('https://static.thenounproject.com/png/756729-200.png'); 
    background-position: center;
    background-repeat: no-repeat; 
    background-size: contain; /*Se aproxima al tamaño del contenedor*/
    height: 25px;
    opacity: .45;
    width: 25px;
}

.menu-icon:hover {
    cursor: pointer;
    opacity: 1;
}

.nav-right-section img {
    border-radius: 50%;
    margin-left: 10px;
}

main {
    margin-top: 150px;
    text-align: center;
}

.main-logo {
    margin: 0 auto;
    margin-bottom: 35px;
    width: 530px;
}

.main-input {
    margin: 0 auto;
    margin-bottom: 35px;
    width: 530px;
}

.main-input-container {
    align-items: center;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 100px;
    justify-content: center;
    display: flex;
    width: 525px;
}

.main-input-container input {
    border: none;
    font-size: 18px;
    height: 40px;
    outline: none;
    padding-left: 20px;
    width: 430px;
}

.main-input-container:hover {
    border-color: #20212447;
    box-shadow: 0 1px 6px 0 #20212447;
}

.search-icon {
    background-image: url('https://img.icons8.com/android/24/000000/search.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 18px;
    opacity: .45;
    width: 18px;
}

.micro-icon {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/726px-Google_mic.svg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    height: 18px;
    width: 18px;
}

.main-buttons {
    margin: 0 auto;
    width: 530px;
}

.main-buttons div {
    display: inline-block;
}

.main-buttons button {
    background-color: #f2f2f2;
    border: none;
    border-radius: 5px;
    color: #5f6368;
    font-size: 14px;
    height: 36px;
    margin-right: 15px;
    padding: 0 15px;
}

.main-buttons button:hover {
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px #9da2a8;
    color: #222;
    cursor: pointer;
}

footer {
    align-items: center;
    background-color: rgb(242,242,242);
    border: 1px solid #e4e4e4;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr; /*2 fracciones*/
    height: 50px;
    position: fixed;
    width: 100%;
}

footer ul {
    display: flex;
    margin: 10px;
    padding-left: 0;
}

.footer-left {
    justify-self: left; /*MANDAR LIST A LA IZQ*/
}

.footer-right {
    justify-self: right; /*MADAR LIST A LA DER*/
}

.footer-left a, .footer-right a {
    color: rgb(95,99,104);
    margin: 10px;
}

@media (max-width: 925px) {
    footer {
        display: none;
    }
}