body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

a {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

header {
    height: 60px;
    width: 100%;
}

nav {
    display: flex;
    justify-content: flex-end;
}

.nav-right-section {
    align-items: center;
    display: flex;
    height: auto;
    justify-content: center;
    list-style: none;
    width: 250px;
}

.nav-right-section a {
    margin-right: 10px;
}

.menu-icon {
      background-image: url('https://static.thenounproject.com/png/756729-200.png'); 
      background-position: center;
      background-repeat: no-repeat; 
      background-size: contain; /*Se aproxima al tamaño del contenedor*/
      height: 25px;
      width: 25px;
}

.nav-right-section img {
    border-radius: 50%;
    margin-left: 10px;
}

main {
    margin-top: 150px;
    text-align: center;
}

.main-logo {
    margin: 0 auto;
    margin-bottom: 35px;
    width: 530px;
}

.main-input {
    margin: 0 auto;
    margin-bottom: 35px;
    width: 530px;
}

.main-input-container {
    align-items: center;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 100px;
    justify-content: center;
    display: flex;
    width: 525px;
}

.main-input-container input {
    border: none;
    height: 40px;
    outline: none;
    width: 450px;
}

.main-input-container:hover {
    border-color: #20212447;
    box-shadow: 0 1px 6px 0 #20212447;
}

.search-icon {
    background-image: url('https://img.icons8.com/android/24/000000/search.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 18px;
    opacity: .45;
    width: 18px;
}

.micro-icon {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/726px-Google_mic.svg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    height: 18px;
    width: 18px;
}

.main-buttons {
    margin: 0 auto;
    width: 530px;
}

.main-buttons div {
    display: inline-block;
}

.main-buttons button {
    background-color: #f2f2f2;
    border: none;
    border-radius: 5px;
    color: #5f6368;
    font-size: 14px;
    height: 36px;
    margin-right: 15px;
    padding: 0 15px;
}

.main-buttons button:hover {
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px #9da2a8;
    color: #222;
}